body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


